! Fonts
Xft.antialias: 1
Xft.autohint:  0
Xft.dpi:       141
Xft.hinting:   1
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.rgba:      rgb

! Colors
*foreground:    #3c3836
*background:    #f2e5bc

! rofi template
! Base16 Ocean Dark, by Chris Kempson (http://chriskempson.com)

! State:           'bg',    'fg',    'bgalt', 'hlbg',  'hlfg'
rofi.color-normal: #2b303b, #eff1f5, #2b303b, #eff1f5, #2b303b
rofi.color-urgent: #2b303b, #bf616a, #2b303b, #bf616a, #2b303b
rofi.color-active: #2b303b, #8fa1b3, #2b303b, #8fa1b3, #2b303b
!                  'bg',    'border'
rofi.color-window: #2b303b, #eff1f5
